fastapi
uvicorn[standard]
sqlalchemy
pymysql
pydantic-settings
python-dotenv
python-jose
email-validator
passlib[bcrypt]
cryptography
Flask
pydantic
python-jose[cryptography]
mysql-connector-python
psycopg2-binary
alembic